<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gighub</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/Datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="p-3 mb-3 border-bottom shadow-sm">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="~/images/gigs.png" height="40" alt="logo" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li> <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li> <a class="nav-link " asp-area="" asp-controller="Gigs" asp-action="Create">Add a Gig</a></li>

                </ul>




                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 " method="post" asp-action="Search" asp-controller="Home">
                    <div class="input-group justify-content-center">
                        <input type="search" name="Query" value="@ViewBag.Query" class="form-control simplebox" placeholder="Search..." aria-label="Search" />
                        <button type="submit" class="input-group-text bg-warning"> <i class="fas fa-search"></i></button>
                    </div>
                </form>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Gighub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/Datepicker/moment-with-locales.min.js"></script>
    <script src="~/lib/Datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/sweet-alert/sweetalert2.all.min.js"></script>
    <script src="~/js/app.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script src="~/js/Services/NotificationService.js"></script>
    <script src="~/js/Controller/NotificationController.js"></script>

    <script>
        $(document).ready(function () {
            NotificationController.init();
        })
    </script>

</body>
</html>
