<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gighub</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/Datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="p-3 mb-3 border-bottom shadow-sm">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="~/images/gigs.png" height="40" alt="logo" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li> <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li> <a class="nav-link " asp-area="" asp-controller="Gigs" asp-action="Create">Add a Gig</a></li>

                </ul>

                

                
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post" asp-action="Search" asp-controller="Home">
                    <div class="input-group ">
                        <input type="search" name="Query"  value="@ViewBag.Query" class="form-control simplebox" placeholder="Search..." aria-label="Search"/>
                        <button type="submit" class="input-group-text bg-warning"> <i class="fas fa-search"></i></button>
                    </div>
                        </form>
               
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Gighub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/Datepicker/moment-with-locales.min.js"></script>
    <script src="~/lib/Datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/sweet-alert/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            var notifications;
            $.getJSON("/api/Notifications/GetNotification", function (response) {
                notifications = response.dataenum;
                if (notifications.length == 0)
                    return;
                $('.js-notifications-count').text(notifications.length)
                    .removeClass('hide').addClass('animate__animated animate__bounceInDown');

                
                $('.notification').popover({
                    title: 'Notifications',
                    html: true,
                    placement: 'bottom',
                    content: function () {
                        var html = '';
                        notifications.forEach(function (notification) {
                            if (notification.type === 1)
                                html = html + `<li><b>${notification.gigDto.artist.name} </b>
                                        has canceled the gig at ${notification.gigDto.venue} at
                                        ${moment(notification.gigDto.dateTime).format('DD MMM yyyy')}</li>`
                            if (notification.type === 2) {
                               
                                if (notification.gigDto.venue != notification.orignalVenue)
                                    html = html + `<li> <b>${notification.gigDto.artist.name} </b>
                                        has changed the venue of the gig
                                        from  ${ notification.orignalVenue}
                                        to ${ notification.gigDto.venue}
                                        </li >`

                                if (notification.gigDto.vedateTimenue != notification.orignalDateTime)
                                    html = html + `<li> <b>${notification.gigDto.artist.name} </b>
                                        has changed the date/time of the gig
                                        from  ${ moment(notification.orignalDateTime).format('DD MMM yyyy HH:mm') }
                                        to ${ moment(notification.gigDto.dateTime).format('DD MMM yyyy HH:mm')}
                                        </li >`
                            }
                        });
                        var list = `<ul class="notifications"> ${html} </ul>`;
                        return list;
                    }
                }).on("shown.bs.popover", function () {

                    $.post('/api/Notifications/MarkAsRead')
                        .done(function () {
                            $('.js-notifications-count').text('').addClass('hide');
                        })
                        .fail(() => {
                            console.log('There is some problem')
                        })
                })
            })
          
            
        })
    </script>
</body>
</html>
