
@model IEnumerable<Gighub.Models.Gig>

@{
    ViewData["Title"] = "Upcoming Gigs";
}

<ul>

    @foreach (var gig in Model)
    {
        <li>@gig.AppUser.Name</li>
        <li>@gig.Venue</li>
        <li>@gig.DateTime</li>
    }
</ul>